<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
  
      <div class="navbar-header">  
        <a class="mx-2" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img style="max-width: 5rem; max-height: 5rem;" src={{imgArgProg}}></a>
        <a class="mx-2" href="https://www.argentina.gob.ar/inti" target="_blank"><img class="pt-1" style="max-width: 4rem; max-height: 4rem;" src={{imgINTI}}></a>
      </div>
      
      <div>
        <a class="mx-2" href="https://www.linkedin.com/in/lucascatardo/" target="_blank"><img style="max-width: 2rem; max-height: 2rem;" src={{imgLinkedin}}></a>
        <a class="mx-2" href="https://mobile.twitter.com/catardolucas" target="_blank"><img style="max-width: 2rem; max-height: 2rem;" src={{imgTwitter}}></a>
        <a class="mx-2" href="https://www.instagram.com/lucascatardo/" target="_blank"><img style="max-width: 2rem; max-height: 2rem;" src={{imgInstagram}}></a>
        <a class="mx-2" href="https://github.com/LucasCatardo?tab=repositories" target="_blank"><img style="max-width: 2rem; max-height: 2rem;" src={{imgGithub}}></a>
      </div>
      
      <button type="submit" class="btn btn-danger navbar-btn login-btn" (click)="login()">Log In</button>
  
    </div>
  </nav>