<div class="card container mt-2 px-0" style="margin-bottom: 2.5rem;">
    <div class="card-header">
      <h4 class="m-0">Proyectos</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-4 col-lg-2 d-flex align-items-center justify-content-center">
                <a href="https://github.com/LucasCatardo?tab=repositories" target="_blank"><img src={{imgGithub}} style="max-width: 6rem; max-height: 4rem;"></a>
            </div>
            <div class="col-xs-8 col-lg-10 d-flex align-items-center">
                <div>
                    <h5 class="mb-4">Argentina programa</h5>
                    <p class="mb-0">#YoProgramo4</p>
                    <p class="mb-0">Trabajo final de Argentina Programa #YoProgramo (4 edición). Desarrollado en el año 2022.</p>
                    <a href="https://github.com/LucasCatardo/argentina-programa" target="_blank">Ver fuentes del proyecto</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4 col-lg-2 d-flex align-items-center justify-content-center">
                <a href="https://www.globalesur.com.ar/" target="_blank"><img src={{imgEsur}} style="max-width: 6rem; max-height: 4rem;"></a>
            </div>
            <div class="col-xs-8 col-lg-10 d-flex align-items-center">
                <div>
                    <h5 class="mb-4">Resto de proyectos</h5>
                    <p class="mb-0">Global ESur</p>
                    <p class="mb-0">Por temas de confidencialidad laboral, no puedo mostrar el resto de mis proyectos</p>
                </div>
            </div>
        </div>
    </div>
</div>