<div class="card container mt-2 px-0">
    <div class="card-header">
      <h4 class="m-0">Experiencia laboral</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-4 col-lg-2 d-flex align-items-center justify-content-center">
                <a href="https://www.argentina.gob.ar/inti" target="_blank"><img src={{imgINTI}} style="max-width: 6rem; max-height: 4rem;"></a>
            </div>
            <div class="col-xs-8 col-lg-10 d-flex align-items-center">
                <div>
                    <h5 class="mb-4">Profesor</h5>
                    <p class="mb-0">INTI</p>
                    <p class="mb-0">Profesor de Argentina Programa #YoProgramo (4 edición)</p>
                    <p>2022 - Actualidad</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4 col-lg-2 d-flex align-items-center justify-content-center">
                <a href="https://www.digitalhouse.com/ar" target="_blank"><img src={{imgDigitalHouse}} style="max-width: 6rem; max-height: 4rem;"></a>
            </div>
            <div class="col-xs-8 col-lg-10 d-flex align-items-center">
                <div>
                    <h5 class="mb-4">Profesor</h5>
                    <p class="mb-0">Digital House</p>
                    <p class="mb-0">Profesor en Base de Datos 1 y 2 de la carrera Certified Tech Developer</p>
                    <p>2021 - Actualidad</p>
                </div>
            </div>
        </div>
    </div>
</div>