<div class="card container mt-2 px-0">
  <div class="card-header">
    <h4 class="m-0">Skills</h4>
  </div>
  <div class="card-body row">
    <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
      <ngx-charts-pie-grid [view]="dimension" [scheme]="colorScheme" [results]="html">
    </ngx-charts-pie-grid>
    </div>
    <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
      <ngx-charts-pie-grid [view]="dimension" [scheme]="colorScheme" [results]="js">
      </ngx-charts-pie-grid>
    </div>
    <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
      <ngx-charts-pie-grid [view]="dimension" [scheme]="colorScheme" [results]="css">
      </ngx-charts-pie-grid>
    </div>
    <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
      <ngx-charts-pie-grid [view]="dimension" [scheme]="colorScheme" [results]="net">
      </ngx-charts-pie-grid>
    </div>
    <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
      <ngx-charts-pie-grid [view]="dimension" [scheme]="colorScheme" [results]="bd">
      </ngx-charts-pie-grid>
    </div>
    <div class="col-xs-12 col-lg-6 d-flex justify-content-center">
      <ngx-charts-pie-grid [view]="dimension" [scheme]="colorScheme" [results]="bootstrap">
      </ngx-charts-pie-grid>
    </div>
  </div>
</div>